@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	overflow-y:scroll;
}

body {
	overflow-y:scroll;
}

.bg-logo {
    background-image: url('https://i.imgur.com/TBVuh0P.jpeg');
    background-size: cover;
}

.logo-banner {
	height: 100vh;
	width: 100%;
	font-size: 100px;
	font-weight: bold;
}

.title {
	font-size: 40px;
	font-weight: bold;
}

.dashboard {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}